@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<nav class="nav-menu">
    <div class="section-title">Administraci칩n</div>
    <hr class="divider" />
    <div class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">
            <span class="nav-icon">游늵</span>
            <span>Dashboard</span>
        </NavLink>
    </div>
    
    <AuthorizeView Roles="SystemAdmin,TenantAdmin">
        <div class="nav-item">
            <NavLink href="/users" class="nav-link">
                <span class="nav-icon">游녻</span>
                <span>Usuarios</span>
            </NavLink>
        </div>
    </AuthorizeView>
    
    <AuthorizeView Roles="SystemAdmin,TenantAdmin">
        <div class="nav-item">
            <NavLink href="/roles" class="nav-link">
                <span class="nav-icon">游</span>
                <span>Roles</span>
            </NavLink>
        </div>
    </AuthorizeView>
    
    <AuthorizeView Roles="SystemAdmin,TenantAdmin">
        <div class="nav-item">
            <NavLink href="/sectiondefinitions" class="nav-link">
                <span class="nav-icon">游늶</span>
                <span>Definici칩n de Secciones</span>
            </NavLink>
        </div>
    </AuthorizeView>
    
    <div class="section-title mt-4">Secciones</div>
    <hr class="divider" />
    @* Aqu칤 se agregar치n din치micamente las secciones personalizadas *@
    <DynamicSectionNavItems />
    
    <AuthorizeView Roles="SystemAdmin">
        <div class="section-title mt-4">Sistema</div>
        <hr class="divider" />
        <div class="nav-item">
            <NavLink href="/systemadmin/tenants" class="nav-link">
                <span class="nav-icon">游끽</span>
                <span>Gesti칩n de Inquilinos</span>
            </NavLink>
        </div>
    </AuthorizeView>
</nav>

@code {
    // Componente que se encargar치 de cargar din치micamente las secciones disponibles
    // seg칰n el rol del usuario (placeholder)
    private class DynamicSectionNavItems : ComponentBase
    {
        // En una implementaci칩n real, este componente cargar칤a las secciones
        // desde un servicio de API y mostrar칤a solo aquellas a las que el usuario
        // tiene permiso de acceso
    }
} 